In [8]:
import mysql.connector
import pandas as pd

i40db = mysql.connector.connect(
  host="localhost",
  user="I40",
  passwd="Password1",
  database="Industry40db"
)


df = pd.read_sql('SELECT * FROM roomData', con=i40db)

df.head()

   id roomName humidity temperature outsideTemp   CO2            readDate
0   1     E223    47.63       27.64        None  None 2020-03-13 12:46:06
1   2     E223    47.58       27.60        None  None 2020-03-13 12:46:09
2   3     E223    47.52       27.63        None  None 2020-03-13 12:46:11

In [9]:
i40db.close()

In [10]:
df.tail()

   id roomName humidity temperature outsideTemp   CO2            readDate
0   1     E223    47.63       27.64        None  None 2020-03-13 12:46:06
1   2     E223    47.58       27.60        None  None 2020-03-13 12:46:09
2   3     E223    47.52       27.63        None  None 2020-03-13 12:46:11

In [11]:
print(df['readDate'])

0   2020-03-13 12:46:06
1   2020-03-13 12:46:09
2   2020-03-13 12:46:11
Name: readDate, dtype: datetime64[ns]

In [15]:
df.head()

   id roomName humidity temperature outsideTemp   CO2            readDate
0   1     E223    47.63       27.64        None  None 2020-03-13 12:46:06
1   2     E223    47.58       27.60        None  None 2020-03-13 12:46:09
2   3     E223    47.52       27.63        None  None 2020-03-13 12:46:11